analise esse banco :
-- =============================
-- TABELA: Utilizadores
-- =============================
CREATE TABLE Utilizadores (
    idUtilizador INT NOT NULL,
    nmUtilizador VARCHAR(40) NOT NULL,
    sbUtilizador VARCHAR(40) NOT NULL,
    cpfUtilizador CHAR(11) NOT NULL,
    emUtilizador VARCHAR(255) NOT NULL,
    telUtilizador CHAR(11) NOT NULL,
    senhaHash VARCHAR(128) NOT NULL,
    senhaSalt VARCHAR(64) NOT NULL,
    userUtilizador VARCHAR(30) NOT NULL
);

ALTER TABLE Utilizadores ADD CONSTRAINT PK_Utilizadores PRIMARY KEY (idUtilizador);
ALTER TABLE Utilizadores ADD CONSTRAINT UQ_Utilizadores_CPF UNIQUE (cpfUtilizador);
ALTER TABLE Utilizadores ADD CONSTRAINT UQ_Utilizadores_User UNIQUE (userUtilizador);

-- =============================
-- TABELA: TiposUtilizadores
-- =============================
CREATE TABLE TiposUtilizadores (
    idTipoUtilizador INT NOT NULL,
    descricao VARCHAR(14) NOT NULL
);

ALTER TABLE TiposUtilizadores ADD CONSTRAINT PK_TiposUtilizadores PRIMARY KEY (idTipoUtilizador);

-- =============================
-- TABELA: TiposParentesco
-- =============================
CREATE TABLE TiposParentesco (
    idTipoParentesco INT NOT NULL,
    dsParentesco VARCHAR(20) NOT NULL
);

ALTER TABLE TiposParentesco ADD CONSTRAINT PK_TiposParentesco PRIMARY KEY (idTipoParentesco);

-- =============================
-- TABELA: Responsaveis
-- =============================
CREATE TABLE Responsaveis (
    idResponsavel INT NOT NULL,
    idPaciente INT NOT NULL,
    idTipoParentesco INT NOT NULL,
    dtInicio DATETIME NOT NULL,
    dtFim DATETIME NOT NULL,
    dcResponsabilidade DATETIME NOT NULL,
    duResponsabilidade DATETIME NOT NULL,
    stResponsabilidade CHAR(1) NOT NULL
);

ALTER TABLE Responsaveis ADD CONSTRAINT PK_Responsaveis PRIMARY KEY (idResponsavel, idPaciente);
ALTER TABLE Responsaveis ADD CONSTRAINT FK_Responsaveis_Responsavel FOREIGN KEY (idResponsavel) REFERENCES Utilizadores(idUtilizador);
ALTER TABLE Responsaveis ADD CONSTRAINT FK_Responsaveis_Paciente FOREIGN KEY (idPaciente) REFERENCES Utilizadores(idUtilizador);
ALTER TABLE Responsaveis ADD CONSTRAINT FK_Responsaveis_Parentesco FOREIGN KEY (idTipoParentesco) REFERENCES TiposParentesco(idTipoParentesco);

-- =============================
-- TABELA: Cuidadores
-- =============================
CREATE TABLE Cuidadores (
    idCuidador INT NOT NULL,
    idPaciente INT NOT NULL,
    dtInicio DATETIME NOT NULL,
    dtFim DATETIME NOT NULL,
    dcCuidado DATETIME NOT NULL,
    duCuidado DATETIME NOT NULL,
    stCuidado CHAR(1) NOT NULL
);

ALTER TABLE Cuidadores ADD CONSTRAINT PK_Cuidadores PRIMARY KEY (idCuidador, idPaciente);
ALTER TABLE Cuidadores ADD CONSTRAINT FK_Cuidadores_Cuidador FOREIGN KEY (idCuidador) REFERENCES Utilizadores(idUtilizador);
ALTER TABLE Cuidadores ADD CONSTRAINT FK_Cuidadores_Paciente FOREIGN KEY (idPaciente) REFERENCES Utilizadores(idUtilizador);

-- =============================
-- TABELA: Parceiros
-- =============================
CREATE TABLE Parceiros (
    idParceiro INT NOT NULL,
    nmParceiro VARCHAR(50) NOT NULL,
    apParceiro VARCHAR(25) NOT NULL,
    cnpjParceiro CHAR(18) NOT NULL,
    stParceiro CHAR(1) NOT NULL
);

ALTER TABLE Parceiros ADD CONSTRAINT PK_Parceiros PRIMARY KEY (idParceiro);
ALTER TABLE Parceiros ADD CONSTRAINT UQ_Parceiros_CNPJ UNIQUE (cnpjParceiro);

-- =============================
-- TABELA: Utilizadores_TiposUtilizadores
-- =============================
CREATE TABLE Utilizadores_TiposUtilizadores (
    idUtilizador INT NOT NULL,
    idTipoUtilizador INT NOT NULL
);

ALTER TABLE Utilizadores_TiposUtilizadores ADD CONSTRAINT PK_Utilizadores_TiposUtilizadores PRIMARY KEY (idUtilizador, idTipoUtilizador);
ALTER TABLE Utilizadores_TiposUtilizadores ADD CONSTRAINT FK_UTU_Utilizador FOREIGN KEY (idUtilizador) REFERENCES Utilizadores(idUtilizador);
ALTER TABLE Utilizadores_TiposUtilizadores ADD CONSTRAINT FK_UTU_Tipo FOREIGN KEY (idTipoUtilizador) REFERENCES TiposUtilizadores(idTipoUtilizador);

-- =============================
-- TABELA: Parceiros_Utilizadores
-- =============================
CREATE TABLE Parceiros_Utilizadores (
    idParceiro INT NOT NULL,
    idUtilizador INT NOT NULL
);

ALTER TABLE Parceiros_Utilizadores ADD CONSTRAINT PK_Parceiros_Utilizadores PRIMARY KEY (idParceiro, idUtilizador);
ALTER TABLE Parceiros_Utilizadores ADD CONSTRAINT FK_PU_Parceiro FOREIGN KEY (idParceiro) REFERENCES Parceiros(idParceiro);
ALTER TABLE Parceiros_Utilizadores ADD CONSTRAINT FK_PU_Utilizador FOREIGN KEY (idUtilizador) REFERENCES Utilizadores_TiposUtilizadores(idUtilizador);

-- =============================
-- TABELA: TiposGrandeza
-- =============================
CREATE TABLE TiposGrandeza (
    idTipoGrandeza INT NOT NULL,
    dsGrandeza VARCHAR(20) NOT NULL
);

ALTER TABLE TiposGrandeza ADD CONSTRAINT PK_TiposGrandeza PRIMARY KEY (idTipoGrandeza);

-- =============================
-- TABELA: TiposFarmaceutico
-- =============================
CREATE TABLE TiposFarmaceutico (
    idTipoFarmaceutico INT NOT NULL,
    decricao VARCHAR(40) NOT NULL
);

ALTER TABLE TiposFarmaceutico ADD CONSTRAINT PK_TiposFarmaceutico PRIMARY KEY (idTipoFarmaceutico);

-- =============================
-- TABELA: TiposAgendamento
-- =============================
CREATE TABLE TiposAgendamento (
    idTipoAgendamento INT NOT NULL,
    descricao VARCHAR(40) NOT NULL
);

ALTER TABLE TiposAgendamento ADD CONSTRAINT PK_TiposAgendamento PRIMARY KEY (idTipoAgendamento);

-- =============================
-- TABELA: Remedios
-- =============================
CREATE TABLE Remedios (
    idRemedio INT NOT NULL,
    nmRemedio VARCHAR(40) NOT NULL,
    dcRemedio DATETIME NOT NULL,
    duRemedio DATETIME NOT NULL,
    idTipoGrandeza INT NOT NULL
);

ALTER TABLE Remedios ADD CONSTRAINT PK_Remedios PRIMARY KEY (idRemedio);
ALTER TABLE Remedios ADD CONSTRAINT FK_Remedios_TipoGrandeza FOREIGN KEY (idTipoGrandeza) REFERENCES TiposGrandeza(idTipoGrandeza);

-- =============================
-- TABELA: Posologias
-- =============================
CREATE TABLE Posologias (
    idPosologia INT NOT NULL,
    idRemedio INT NOT NULL,
    idUtilizador INT NOT NULL,
    qtdePosologia INT NOT NULL,
    idTipoFarmaceutico INT NOT NULL,
    qtdeDose INT NOT NULL,
    idTipoGrandeza INT NOT NULL,
    diPosologia DATETIME NOT NULL,
    dfPosologia DATETIME NOT NULL,
    idTipoAgendamento INT NOT NULL,
    intervalo INT NOT NULL,
    diasSemana VARCHAR(16) NOT NULL,
    diasUso INT NOT NULL,
    diasPausa INT NOT NULL
);

ALTER TABLE Posologias ADD CONSTRAINT PK_Posologias PRIMARY KEY (idPosologia);
ALTER TABLE Posologias ADD CONSTRAINT FK_Posologias_Remedio FOREIGN KEY (idRemedio) REFERENCES Remedios(idRemedio);
ALTER TABLE Posologias ADD CONSTRAINT FK_Posologias_Utilizador FOREIGN KEY (idUtilizador) REFERENCES Utilizadores_TiposUtilizadores(idUtilizador);
ALTER TABLE Posologias ADD CONSTRAINT FK_Posologias_TipoGrandeza FOREIGN KEY (idTipoGrandeza) REFERENCES TiposGrandeza(idTipoGrandeza);
ALTER TABLE Posologias ADD CONSTRAINT FK_Posologias_TipoFarmaceutico FOREIGN KEY (idTipoFarmaceutico) REFERENCES TiposFarmaceutico(idTipoFarmaceutico);
ALTER TABLE Posologias ADD CONSTRAINT FK_Posologias_TipoAgendamento FOREIGN KEY (idTipoAgendamento) REFERENCES TiposAgendamento(idTipoAgendamento);

-- =============================
-- TABELA: Horarios
-- =============================
CREATE TABLE Horarios (
    idHorario INT NOT NULL,
    idPosologia INT NOT NULL,
    horario TIME NOT NULL
);

ALTER TABLE Horarios ADD CONSTRAINT PK_Horarios PRIMARY KEY (idHorario);
ALTER TABLE Horarios ADD CONSTRAINT FK_Horarios_Posologia FOREIGN KEY (idPosologia) REFERENCES Posologias(idPosologia);

-- =============================
-- TABELA: Alarmes
-- =============================
CREATE TABLE Alarmes (
    idAlarme INT NOT NULL,
    idPosologia INT NOT NULL,
    dtHoraAlarme DATETIME NOT NULL,
    dsAlarme VARCHAR(40) NOT NULL,
    stAlarme CHAR(1) NOT NULL
);

ALTER TABLE Alarmes ADD CONSTRAINT PK_Alarmes PRIMARY KEY (idAlarme);
ALTER TABLE Alarmes ADD CONSTRAINT FK_Alarmes_Posologia FOREIGN KEY (idPosologia) REFERENCES Posologias(idPosologia);

-- =============================
-- TABELA: FormasPagamento
-- =============================
CREATE TABLE FormasPagamento (
    idFormaPagamento INT NOT NULL,
    dsFormaPagamento VARCHAR(45) NOT NULL,
    qtdeParcelas INT NOT NULL,
    qtdeMinParcelas INT NOT NULL,
    qtdeMaxParcelas INT NOT NULL
);

ALTER TABLE FormasPagamento ADD CONSTRAINT PK_FormasPagamento PRIMARY KEY (idFormaPagamento);

-- =============================
-- TABELA: Promocoes
-- =============================
CREATE TABLE Promocoes (
    idPromocao INT NOT NULL,
    idFormaPagamento INT NOT NULL,
    idUtilizador INT NOT NULL,
    dsPromocao VARCHAR(50) NOT NULL,
    idRemedio INT NOT NULL,
    dtInicio DATETIME NOT NULL,
    dtFim DATETIME NOT NULL,
    vlrPromocao DOUBLE
);

ALTER TABLE Promocoes ADD CONSTRAINT PK_Promocoes PRIMARY KEY (idPromocao);
ALTER TABLE Promocoes ADD CONSTRAINT FK_Promocoes_FormaPagamento FOREIGN KEY (idFormaPagamento) REFERENCES FormasPagamento(idFormaPagamento);
ALTER TABLE Promocoes ADD CONSTRAINT FK_Promocoes_Utilizador FOREIGN KEY (idUtilizador) REFERENCES Utilizadores_TiposUtilizadores(idUtilizador);
ALTER TABLE Promocoes ADD CONSTRAINT FK_Promocoes_Remedio FOREIGN KEY (idRemedio) REFERENCES Remedios(idRemedio);
